.courseheadRobo{
    height: 900px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 60px;
    background-image: url(./Images/Robotics-Engineer_Blog-scaled.jpeg);
    padding: 200px;
}

.courseheadRobo h1{
    color: white;
    font-size: 60px;
    width: 600px;
    line-height: 1.6;
    font-family: Inter;
    margin: 0;
}

.courseheadRobo h3{
    color: white;
    margin-top: 20px;
}