*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    margin-bottom: 300px;
}